{{#if productos}}
{{#each productos}}
<div>
    <p>
        {{this.title}}
        {{this.description}}
        {{this.stock}}
        {{this.price}}
    </p>
    <img src={{this.thumbnail}}>
</div>

{{/each}}
{{/if}}